# Pandas - Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [3]:
labels

['a', 'b', 'c']

In [4]:
my_data

[10, 20, 30]

##### Series is a one-dimensional labeled array capable of holding data of any type

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

##### On passing a dictionary 'd', the key and values of the dictionary are automatically mapped as data and label in the series

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

##### <font color=red>Note: It can also hold references of built in funtions as well</font>

In [11]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

#### Creating two series and grabbing data from it (similar to python dictionary)

In [15]:
ser1 = pd.Series([1,2,3,4], ['A', 'B', 'C', 'D'])

In [16]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [20]:
ser2 = pd.Series([5,6,7,8], ['P', 'Q', 'R', 'S'])

In [21]:
ser2

P    5
Q    6
R    7
S    8
dtype: int64

In [22]:
ser1['A']

1

In [23]:
ser2['R']

7

In [24]:
ser3 = pd.Series(data=labels)

In [26]:
ser3

0    a
1    b
2    c
dtype: object

In [27]:
ser3[2]

'c'

In [29]:
ser1 = pd.Series([1,2,3,4], ['A', 'B', 'C', 'D'])
ser2 = pd.Series([5,6,7,8], ['A', 'B', 'P', 'Q'])
ser1 + ser2

A    6.0
B    8.0
C    NaN
D    NaN
P    NaN
Q    NaN
dtype: float64