# Pandas - DataFrame Part 3

In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

### Index levels

In [7]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [11]:
df

             A         B
G1 1  0.422182  0.388098
   2 -0.278506  1.091700
   3  0.054504 -0.006637
G2 1  1.388167 -0.789852
   2  1.432597  0.155011
   3  0.089084 -0.830380

In [12]:
df.loc['G1']

          A         B
1  0.422182  0.388098
2 -0.278506  1.091700
3  0.054504 -0.006637

In [13]:
df.loc['G1'].loc[1]

A    0.422182
B    0.388098
Name: 1, dtype: float64

In [14]:
df.index.names

FrozenList([None, None])

In [15]:
df.index.names = ['Groups', 'Numbers']

In [16]:
df

                       A         B
Groups Numbers
G1     1        0.422182  0.388098
       2       -0.278506  1.091700
       3        0.054504 -0.006637
G2     1        1.388167 -0.789852
       2        1.432597  0.155011
       3        0.089084 -0.830380

In [18]:
df.loc['G2'].loc[2]['B']

0.15501097742626652

#### xs( ) function returns a cross-section from the Series/DataFrame for the given key value

In [19]:
df.xs(1,level='Numbers')

               A         B
Groups
G1      0.422182  0.388098
G2      1.388167 -0.789852